In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Weather Data.csv")

In [3]:
data.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [4]:
na = data.isna()
na.value_counts()

Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  Visibility_km  Press_kPa  Weather
False      False   False             False      False            False          False      False      8784
Name: count, dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   object
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [6]:
data['Date/Time'] = pd.to_datetime(data['Date/Time'])


data['Date'] = data['Date/Time'].dt.date
data['Time'] = data['Date/Time'].dt.time

data = data.drop(columns=['Date/Time'])


print(data.head())

   Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  Visibility_km  \
0    -1.8              -3.9         86                4            8.0
1    -1.8              -3.7         87                4            8.0
2    -1.8              -3.4         89                7            4.0
3    -1.5              -3.2         88                6            4.0
4    -1.5              -3.3         88                7            4.8

   Press_kPa               Weather        Date      Time
0     101.24                   Fog  2012-01-01  00:00:00
1     101.24                   Fog  2012-01-01  01:00:00
2     101.26  Freezing Drizzle,Fog  2012-01-01  02:00:00
3     101.27  Freezing Drizzle,Fog  2012-01-01  03:00:00
4     101.23                   Fog  2012-01-01  04:00:00

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Temp_C            8784 non-null   float64
 1   Dew Point Temp_C  8784 non-null   float64
 2   Rel Hum_%         8784 non-null   int64
 3   Wind Speed_km/h   8784 non-null   int64
 4   Visibility_km     8784 non-null   float64
 5   Press_kPa         8784 non-null   float64
 6   Weather           8784 non-null   object
 7   Date              8784 non-null   object
 8   Time              8784 non-null   object
dtypes: float64(4), int64(2), object(3)
memory usage: 617.8+ KB

In [17]:
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense
from keras.layers import Flatten

In [26]:
def prepare_data(timeseries_data, n_features):
	X, y =[],[]
	for i in range(len(timeseries_data)):
		# find the end of this pattern
		end_ix = i + n_features
		# check if we are beyond the sequence
		if end_ix > len(timeseries_data)-1:
			break
		# gather input and output parts of the pattern
		seq_x, seq_y = timeseries_data[i:end_ix], timeseries_data[end_ix]
		X.append(seq_x)
		y.append(seq_y)
	return np.array(X), np.array(y)

In [36]:
timeseries_data = data.drop(columns='Weather')

In [37]:
timeseries_array = timeseries_data.values.flatten()

In [38]:
# define input sequence
timeseries_data = [110, 125, 133, 146, 158, 172, 187, 196, 210]
# choose a number of time steps
n_features = 100
# split into samples
X, y = prepare_data(timeseries_array, n_features)

In [42]:
X[0]

array([[-1.8],
       [-3.9],
       [86],
       [4],
       [8.0],
       [101.24],
       [datetime.date(2012, 1, 1)],
       [datetime.time(0, 0)],
       [-1.8],
       [-3.7],
       [87],
       [4],
       [8.0],
       [101.24],
       [datetime.date(2012, 1, 1)],
       [datetime.time(1, 0)],
       [-1.8],
       [-3.4],
       [89],
       [7],
       [4.0],
       [101.26],
       [datetime.date(2012, 1, 1)],
       [datetime.time(2, 0)],
       [-1.5],
       [-3.2],
       [88],
       [6],
       [4.0],
       [101.27],
       [datetime.date(2012, 1, 1)],
       [datetime.time(3, 0)],
       [-1.5],
       [-3.3],
       [88],
       [7],
       [4.8],
       [101.23],
       [datetime.date(2012, 1, 1)],
       [datetime.time(4, 0)],
       [-1.4],
       [-3.3],
       [87],
       [9],
       [6.4],
       [101.27],
       [datetime.date(2012, 1, 1)],
       [datetime.time(5, 0)],
       [-1.5],
       [-3.1],
       [89],
       [7],
       [6.4],
       [101.29],
       [datetime.date(2012, 1, 1)],
       [datetime.time(6, 0)],
       [-1.4],
       [-3.6],
       [85],
       [7],
       [8.0],
       [101.26],
       [datetime.date(2012, 1, 1)],
       [datetime.time(7, 0)],
       [-1.4],
       [-3.6],
       [85],
       [9],
       [8.0],
       [101.23],
       [datetime.date(2012, 1, 1)],
       [datetime.time(8, 0)],
       [-1.3],
       [-3.1],
       [88],
       [15],
       [4.0],
       [101.2],
       [datetime.date(2012, 1, 1)],
       [datetime.time(9, 0)],
       [-1.0],
       [-2.3],
       [91],
       [9],
       [1.2],
       [101.15],
       [datetime.date(2012, 1, 1)],
       [datetime.time(10, 0)],
       [-0.5],
       [-2.1],
       [89],
       [7],
       [4.0],
       [100.98],
       [datetime.date(2012, 1, 1)],
       [datetime.time(11, 0)],
       [-0.2],
       [-2.0],
       [88],
       [9]], dtype=object)

In [43]:
n_features = 1
X = X.reshape((X.shape[0], X.shape[1], n_features))